<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsumerKey</key>
	<string>ud7Gg9U28yVG5k3HOfZ7NBr1J</string>
	<key>ConsumerSecret</key>
	<string>KD70sYrvjGLgDHBvLNZYxrWsiG3ZSULr5WbvyJQYjKeG5lZxDE</string>
</dict>
</plist>
